snippet html
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>$1</title>
			<meta content="width=device-width, initial-scale=1.0" name="viewport">
		</head>
		<body>
		</body>
	</html>

snippet script
	<script src="$1"></script>

snippet css
	<link href="$1" rel="stylesheet">
